<html lang="en_US">
    <head>
        <link rel="stylesheet" href="/static/vendor/bulma/bulma.min.css">
        <script src="/static/pages/splash/app_loader.js"></script>
    </head>
    <body>
        <div class="container">
            <div style="display: flex;justify-content: center;align-items: center;height: 100vh;flex-direction: column">
                <div style="display: flex; flex-direction: column; justify-content: center;align-items: center;" class="box">
                    <img src="/static/img/apps/special.png" alt="Splash">
                    <strong class="is-size-3">OdooToolbox Lite V2</strong>
                    <progress class="progress is-link m-3" max="100" id="loading_bar"></progress>
                    <p class="is-size-5">Loading...</p>
                    <p class="is-size-6" id="loading_text"></p>
                </div>
            </div>
        </div>
    </body>
</html>